<div class='container'>
    <h1>Eat Da Burger</h1>
    <br>
    <img src='img/burger.png' alt ='burger' id='burgerimg'>
    <br>
    <div class='row'>

        <div class='container col-5'>
            <h4>Available Burgers</h4>
            {{#each availBurgs }}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{id}}. {{burger_name}}
                        <button class='btn btn-primary devour' id={{id}}>Devour It!</button>
                    </h5>

                </div>
            </div>
            {{/each}}
        </div>
        <div class='container col-2'></div>
        <div class='container col-5'>
            <h4>Devoured Burgers</h4>
            {{#each eatenBurgs }}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{id}}. {{burger_name}}
                        <button class='btn btn-danger delete' id={{id}}>Delete</button>
                    </h5>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
<br>
    <div class='row'>
        <div class='container col-12'>

            <form >
                <div class="form-group">
                    <input type="text" class="form-control" id="burgerName" aria-describedby="burgerName"
                        placeholder="Enter a new burger to eat">
                </div>
                    <button class='btn btn-primary' id = 'newBurger' type="submit">Add</button>
                    <p>Enter a burger you want to eat, then hit 'Submit'</p>
                </form>
        </div>
    </div>
</div>