<style media="screen">
    li {
        height: 100px;
        width: 100px;
        color: red;
        background-color: purple;
        margin-bottom: 30px;
    }
</style>

<h1>Eat Da Burger</h1>

<div class='row'>

    <div class='container col-6'>
        <ul>
            {{#each availBurgs }}
            <li>{{id}}. {{burger_name}} <button class='btn btn-primary devour' id={{id}}>Devour It!</button></li>

            {{/each}}
        </ul>
    </div>
    <div class='container col-6'>
        <ul>
            {{#each eatenBurgs }}
            <li>{{id}}. {{burger_name}} <button class='btn btn-primary devour' id={{id}}>Devour It!</button></li>
            {{/each}}
        </ul>
    </div>
</div>
</div>